:root {
  --white: #efefef;
  --coolgrey: #dfe0e1;
  --warmgrey: #cbcbcb;
  --blue: #324c8d;
  --blackblue: #262626;
}

body {
  margin: 0;
  padding: 0;
}


.App {
  display: flex;
  gap: 1vw;
  background-color: var(--white);
}

.note {
  width: 25%;
  height: 100vh;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}

.inputsContainer2 {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}

.inputsContainer textarea {
  height: 200px;
}

.note-header {
  display: flex;
  justify-content: space-between;
}

.noteSaveButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.inputFields {
  padding: 20px;
}
